extends layout

block content
    .col-md-4.offset-md-4
        h3.text-center #{title}
        form(method='POST', action='/articles/add')
            #form-group
                label Title:
                input.form-control(name='title', type="text")
            #form-group
                label Image Url:
                input.form-control(name='image', type="text")
            #form-group
                label Body:
                textarea.form-control(name="body", cols="30", rows="5")
            br
            input.btn.btn-primary(type="submit", value="Submit")