extends layout

block content
    .col-md-6.offset-md-3
        form(method='POST', action='/articles/edit/'+article._id)
            #form-group
                label Title:
                input.form-control(name='title', type="text", value=article.title)
            #form-group
                label Image Path:
                input.form-control(name='image', type="text", value=article.image)
            #form-group
                label Body:
                textarea.form-control(name="body", cols="30", rows="5")= article.body
            br
            input.btn.btn-success(type="submit", value="Update Article")
            a.btn.btn-outline-danger(href="/articles/"+article._id) Cancel