extends layout

block content
    .col-md-4.offset-md-4
        h3.text-center Create Account
        form(method='POST', action='/users/register')
            #form-group
                label Name:
                input.form-control(name='name', type="text")
            #form-group
                label Email:
                input.form-control(name='email', type="text")
            #form-group
                label Username:
                input.form-control(name='username', type="text")
            #form-group
                label Password:
                input.form-control(name="password", type="password")
            #form-group
                label Confirm Password:
                input.form-control(name="password2", type="password")
            br
            input.btn.btn-primary(type="submit", value="Register")
            p Have an account? 
                a.btn.btn-link(href="/users/login") Sign In